@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Additional custom styles */
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.animate-fadeIn {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@layer components {
  /* main */
  .main-container {
    @apply flex min-h-screen flex-1 flex-col items-center bg-dark-1 px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
    --tw-bg-opacity: 0;
  }

  /* Head Text */
  .head-text {
    @apply text-heading2-bold text-light-1;
  }

  /* Head Text 2 */
  .head-text2 {
    @apply text-heading2-bold text-dark-5;
  }

  

  /* Head Text 5 */
  .head-text5 {
    @apply text-heading5-bold text-light-3;
  }

  /* Head Text 6 */
  .head-text6 {
    @apply text-heading5-bold text-light-1;
  }

  .head-text7 {
    @apply text-dark-2;
  }

  /* Activity */
  .activity-card {
    @apply flex items-center gap-2 rounded-md bg-dark-2 px-7 py-4;
  }

  /* No Result */
  .no-result {
    @apply text-center !text-base-regular text-light-3;
  }

  /* Community Card */
  .community-card {
    @apply w-full rounded-lg bg-dark-3 px-4 py-5 sm:w-96;
  }

  .community-card_btn {
    @apply rounded-lg bg-primary-500 px-5 py-1.5 text-small-regular !text-light-1 !important;
  }

  /* thread card  */
  .thread-card_bar {
    @apply relative mt-2 w-0.5 grow rounded-full bg-neutral-800;
  }

  /* User card */
  .user-card {
    @apply flex flex-col justify-between gap-4 max-xs:rounded-xl max-xs:bg-dark-3 max-xs:p-4 xs:flex-row xs:items-center;
  }

  .user-card_avatar {
    @apply flex flex-1 items-start justify-start gap-3 xs:items-center;
  }

  .user-card_btn {
    @apply h-auto min-w-[74px] rounded-lg bg-primary-500 text-[12px] text-light-1 !important;
  }

  .searchbar {
    @apply flex gap-1 rounded-lg bg-dark-3 px-4 py-2;
  }

  .searchbar_input {
    @apply border-none bg-dark-3 text-base-regular text-light-4 outline-none !important;
  }

  .topbar {
    @apply fixed top-0 z-30 flex w-full items-center justify-between bg-dark-2 px-6 py-3;
  }

  .bottombar {
    @apply fixed bottom-0 z-10 w-full rounded-t-3xl bg-glassmorphism p-4 backdrop-blur-lg xs:px-7 md:hidden;
  }

  .bottombar_container {
    @apply flex items-center justify-between gap-3 xs:gap-5;
  }

  .bottombar_link {
    @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
  }

  .leftsidebar {
    @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between overflow-auto border-r border-r-dark-4 bg-dark-2 pb-5 pt-28 max-md:hidden;
  }

  .leftsidebar_link {
    @apply relative flex justify-start gap-4 rounded-lg p-4;
  }

  .pagination {
    @apply mt-10 flex w-full items-center justify-center gap-5;
  }

  .rightsidebar {
    @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between  overflow-auto border-l border-l-dark-4 bg-dark-2 px-10 pb-5 pt-28 max-xl:hidden;
  }
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}

/* Clerk Responsive fix */
.cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer {
  @apply max-sm:hidden;
}

.cl-organizationSwitcherTrigger
  .cl-organizationPreview
  .cl-organizationPreviewTextContainer {
  @apply max-sm:hidden;
}

/* Shadcn Component Styles */

/* Tab */
.tab {
  @apply flex min-h-[50px] flex-1 items-center gap-3 bg-dark-2 text-light-2 data-[state=active]:bg-[#0e0e12] data-[state=active]:text-light-2 !important;
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

/* Account Profile  */
.account-form_image-label {
  @apply flex h-24 w-24 items-center justify-center rounded-full bg-dark-4 !important;
}

.account-form_image-input {
  @apply cursor-pointer border-none bg-transparent outline-none file:text-blue !important;
}

.account-form_input {
  @apply border border-dark-4 bg-dark-3 text-light-1 !important;
}

/* Comment Form */
.comment-form {
  @apply mt-10 flex items-center gap-4 border-y border-y-dark-4 py-5 max-xs:flex-col !important;
}

.comment-form_btn {
  @apply rounded-3xl bg-primary-500 px-8 py-2 !text-small-regular text-light-1 max-xs:w-full !important;
}

.floating-button {
  position: fixed;
  bottom: calc(2rem + 56px + 5px); /* 2rem for the bottom bar, 56px for the button height, 5px for spacing */
  right: 2em;
  width: 56px;
  height: 56px;
  background-color: #FDB736;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: #0d1b2a;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  z-index: 9999; /* Ensure the FAB is on top of other elements */
}

.floating-button:hover {
  background-color: #6c757d;
}

.floating-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #0d1b2a; /* Replaced the ring property with box-shadow for the focus ring */
}

.floating-button:focus:hover {
  background-color: #6c757d;
}

.fabIcon {
  width: 2em;
  height: 2em;
  margin: 0 auto;
}

.chat-modal {
  @apply fixed bottom-10 right-5 bg-white rounded-lg shadow-md z-50 flex flex-col;
  width: 500px;
  height: 400px;
}

@media (max-width: 768px) {
  .chat-modal {
    @apply bottom-0 right-0 w-full h-full  mx-auto;
  }
}

.chat-header {
  @apply flex justify-between items-center p-2.5 border-b border-gray-300;
}

.chat-content {
  @apply p-2.5 overflow-y-auto flex-grow;
}

.chat-input {
  @apply flex justify-between items-center p-2.5 border-t border-gray-300;
}

.chat-input input {
  @apply flex-grow p-1.5 mr-2.5 border border-gray-300 rounded-md;
}

.chat-input button {
  @apply px-2.5 py-1.5 bg-blue text-white border-none rounded-md cursor-pointer;
}


.message {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.user-message {
  justify-content: flex-end;
}

.user-message .message-text {
  background-color: #0d6efd;
  color: white;
  border-radius: 10px 0 10px 10px;
  padding: 5px 10px;
  margin-left: 10px;
}

.bot-message .message-text {
  background-color: #e1e1e1;
  color: black;
  border-radius: 0 10px 10px 10px;
  padding: 5px 10px;
  margin-right: 10px;
}

.message-icon {
  width: 24px;
  height: 24px;
}

.homepage {
  @apply absolute inset-0 flex items-center justify-center bg-contain bg-center bg-no-repeat mt-7 gap-10;
  background-image: url('/images/Wallpaper.png');
  right: 150px;
   /* Adjust with your image path */
  /* Make sure the z-index is set appropriately if this element is a layer above or below other content */
}

.circle {
  /*border: 2px solid #e1e1e1; 
  border-radius: 50%;*/
  width: 350px;
  padding: 20px;
  text-align: center;
}

.homepagecontent {
  @apply flex flex-col items-center justify-center h-full w-full;
}


/* Update the styling using existing Tailwind properties */
.restaurant-form {
  @apply max-w-lg mx-auto p-6 bg-dark-1 shadow-lg rounded-lg;
}

.restaurant-label {
  @apply block text-heading2-bold text-dark-2 mb-2;/* Update text size and color */
}

.restaurant-input {
  @apply shadow-sm border border-light-2 rounded w-full py-2 px-3 text-dark-2 leading-tight outline-none;
}

.restaurant-btn {
  @apply flex justify-center items-center font-bold m-3 py-4 px-4 rounded bg-primary-500 text-light-1;
}

.restaurant-error {
  @apply italic; /* Keep the error styling as is */
}

.hero-banner {
  @apply bg-green-300 text-white py-10 text-center;
}

.section-heading {
  @apply font-semibold text-center;
}

.recipe-card {
  @apply bg-white rounded-lg shadow-md p-4;
}

.recipe-image {
  @apply w-full h-40 object-cover rounded;
}

.tip-card {
  @apply bg-purple-200 rounded-lg p-4;
}

.homecontainer {

  z-index: 1;
  tw-bg-opacity: 0;

}
.full-viewport-background {
  position: fixed; /* Changed from absolute to fixed */
  top: 0;
  left: 0; /* Added left: 0 to ensure it starts from the far left */
  bottom: 0; /* Added bottom: 0 */
  right: 0; /* Ensures that the div stretches to the full viewport */
  z-index: -1;
  filter: blur(10px);
  background: url('/images/wallpaper.png') 0 0; /* Align the background to the top-left */
  background-repeat: repeat; /* The image will repeat in both directions */
}


.signInContainer {
  @apply flex flex-col items-center justify-center h-full w-full;
}